# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Pyenv
.python-version

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# dotenv / env files
.env
.env.*

# IDE/editor dirs
.vscode/
.idea/

# Mypy
.mypy_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
